<!doctype html>
<head>
    <title>neXt Smart Manufacturing</title>
    {% load static %}
    <!-- load style sheets here -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/mainhomepage.css' %}?v=<?=time();?>">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/fourdisplayscreen.css' %}?v=<?=time();?>">
    <!-- insert scripts here -->
</head>
<body>
    <div class="main-banner flex-row" role="banner">
        <div class="mbl">
            <a href="https://sc.edu" class="main-logo">
                <img src="{% static 'homepage/img/UofSC_Logo.jpg' %}" alt="University of South Carolina Home">
            </a>
        </div>
        <div class="mbm">
            <!-- neXt Application | Virtual Commissioning Approach to Smart Autonomous Manufacturing Strategies -->
            <h1 class="main-title">neXt Application | Virtual Commissioning Approach to Smart Autonomous Manufacturing Strategies</h1>
        </div>
        <div class="mbr align-right flex-row">
            <input class="username-input" id="search-dt" name="q" type="text" placeholder="access key">      
        </div>
    </div>
    <div class="flex-column">
        <div class="flex-row flex-grow flex-displays">
            <div class="topleft-quadrant align-right">
                <iframe src="https://player.twitch.tv/?channel=hao446" frameborder="0" allowfullscreen="false" scrolling="no" class="normal-stream-size"></iframe><a href="https://www.twitch.tv/autobet_hero?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
            </div>
            <div class="topright-quadrant">
                <iframe src="https://player.twitch.tv/?channel=hao446" frameborder="0" allowfullscreen="true" scrolling="no" class="normal-stream-size"></iframe><a href="https://www.twitch.tv/videos/478770582?tt_content=text_link&tt_medium=vod_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
            </div>
        </div>
        <div class="flex-row flex-grow flex-displays">
            <div class="bottomleft-quadrant align-right">
                <iframe src="https://player.twitch.tv/?channel=hao446" frameborder="0" allowfullscreen="false" scrolling="no" class="normal-stream-size" text-align="right"></iframe><a href="https://www.twitch.tv/hungry?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
            </div>
            <div class="bottomright-quadrant">
                <iframe src="https://player.twitch.tv/?channel=hao446" frameborder="0" allowfullscreen="true" scrolling="no" class="normal-stream-size"></iframe><a href="https://www.twitch.tv/lestream?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
            </div>
        </div>
    </div>
</body>


<!---------------------------------------------------------------------------------

TEST ZONE

<iframe src="https://player.twitch.tv/?channel=autobet_hero" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/autobet_hero?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from autobet_hero on www.twitch.tv</a>




---------------------------------------------------------------------------------->
