<!doctype html>
<head>
    <title>neXt Smart Manufacturing</title>
    {% load static %}
    <!-- load style sheets here -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/mainhomepage.css' %}?v=<?=time();?>">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bannerartifacts.css' %}?v=<?=time();?>">
    <!-- insert scripts here -->
</head>
<body>
    <header class="main-banner" role="banner">
        <div class="logo-medium">
            <a href="https://sc.edu" class="main-logo">
                <img src="{% static 'homepage/img/UofSC_Logo.jpg' %}" alt="University of South Carolina Home">
            </a>
        </div>
        <div class="main-title">
            <h1>Virtual Commissioning Approach to Smart Autonomous Manufacturing Strategies</h1>
        </div>
    </header>
    <div class="main-body">
        <div class="login-menu">
            <h1>login-menu test</h1>
            <div class="login-container">

            </div>
        </div>
    </div>
</body>
