<!doctype html>
<head>
    <title>neXt Smart Manufacturing</title>
    {% load static %}
    <!-- load style sheets here -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/mainhomepage.css' %}?v=<?=time();?>">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/landingpage.css' %}?v=<?=time();?>">
    <!-- insert scripts here -->
</head>
<body>
    <div class="main-banner flex-row" role="banner">
        <div class="mbl">
            <a href="https://sc.edu" class="main-logo">
                <img src="{% static 'homepage/img/UofSC_Logo.jpg' %}" alt="University of South Carolina Home">
            </a>
        </div>
        <div class="mbm">
            <!-- neXt Application | Virtual Commissioning Approach to Smart Autonomous Manufacturing Strategies -->
            <h1 class="main-title">neXt Application | Virtual Commissioning Approach to Smart Autonomous Manufacturing Strategies</h1>
        </div>
        <div class="mbr align-right flex-row">
           <input class="username-input" id="search-dt" name="q" type="text" placeholder="access key"> 
        </div>
    </div>
    <div class="login-menu">
        <div class="login-container">
            
        </div>
    </div>
    </div>
</body>
